<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Exo+2:400,200,800,400italic,200italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/uikit.min.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
      <header>
      <h2>Um dia minha mãe me perguntou: <i>Filho,</i></h2>
      <h1>O que é podcast?</h1>
      </header>
      <div class="">
          {{ content }}
      </div>
      <footer>
      <p id="made-by">Feito com <span style="color:#F1714C">♥</span> para uma querida Mãe por <a href="https://twitter.com/_dukex">Duke</a></p>
      </footer>


      <script src="js/audio.min.js"></script>
<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>
    </body>
</html>
